/* .signup-main-container {
  width: 34%;
  margin: auto;
  text-align: center;
}
.spotify-logo-signup {
  margin-top: 30px;
  display: inline-flex;
}
.spotify-h3 {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 15px;
}
.signup-fb a {
  text-decoration: none;
}
.signup-fb :hover {
  transform: scale(1.1);
  transition: 0.7s;
}
.signup-fb {
  
  border-radius: 40px;
  display: inline-block;
  background-color: #1877f2;
  padding: 5px;
}
.signup-fb-h1 {
  text-decoration: none;
  margin: 0;
  color: aliceblue;
  font-size: 21px;
  font-weight: 600;
  padding: 9px;
}
.span-or-div {
  margin-top: 14px;
}
.span-or {
  margin-top: 30px;
  letter-spacing: 3px;
}
.signup-form {
  margin-top: 20px;
}
.signup-email {
  float: left;
}
.label-signup {
  float: left;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 28px;
  font-weight: bolder;
}
.signup-input {
  height: 40px;
  width: 200%;
}
.clear {
  clear: both;
} */

.signup-main-container {
  font-family: Circular Spotify;
}

.signup-main-container > .container {
  max-width: 450px;
}

.heading__signup {
  font-weight: bolder;
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.04em;
}

.pop-up-btn-animate:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgb(127, 127, 127);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
