.footer {

    width: 100%;
    height: fit-content;
    background-color: black;

 }

 .footerFont{
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
    font-size: 19px;  
}

 .outerFlex{
     display: flex;
     flex-direction: row;
 }

 .column1{
     width: 15%;
 }

 .column2{
     width: 60%;
     text-align: left;
 }
 .column3{
     width: 20%;
     text-align: center;
     color: white;
 }

 .greyFontSize{

     font-size: 15px;

 }

 .iconMargin{
     margin-top: 20px;
 }

 .iconBackground{
     background-color: #222326;
 }

 .column2Grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
 }

 .innerGrid{
     display: grid;
     grid-template-columns: auto auto auto;
 }

 .greenHover:hover{
    color: #1EC62E !important;
 }

 .sizeDiv{
     width: 70px;
     height: 70px;
 }

 .iconCircle{
     border-radius: 50%;
 }

 .flexEnd{
     display: flex;
     flex-direction: column;
 }

 #smallLinks > li > a:hover{
    color: #1EC62E !important;
 }

 .marginEnd{
     margin-left: 215px;
 }

 .marginNeg{
    margin-top: -25px;
}
 @media only screen and (max-width: 968px) {
    .outerFlex{
        display: flex;
        flex-direction: column;
    }
    .sizeDiv{
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
    .marginEnd{
        margin-left: 15px;
    }
    .marginBeg{
        margin-top: 20px;
    }
 }

 @media only screen and (max-width: 600px) {
    .column2Grid{
        display: flex;
        flex-direction: column;
     }
 }
 .whiteLogo{
    filter :invert(100%)
 }